body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(usc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.en{
    color: #333;
}

.es{
    color: #00a1ff;
}

.check{
    position: relative;
    width: 50px;
}

.check::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
    border: 2px solid #00a1ff;
}

.check:checked:before{
    background-color: #00a1ff;
}

/* Estilos generales */

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
}

h2 {
    font-family: 'Sevillana', cursive;
    color: var(--color-dark);
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: .5px solid rgb(11, 10, 10);
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--color--background);
    color: var(--color-dark);
}

button {
    padding: 15px 20px; 
    border: none;
    border-radius: 8px;
    background-color: rgb(232, 41, 41);
    color: white; 
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: block;
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: darkorange;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}
